body{
    /*??Try
    max-width:1200px;
    margin:auto;*/
}
@media (min-width: 1200px) {
    .container1 {
        max-width: 1340px;
        background-color: transparent;
/*        border-radius: 10px;
        border: 5px;
        border-color: lightseagreen;*/
    }
}
.box 
{
    margin-left: 6%;
    /*margin-right: 2%;*/
    margin-top: 3%;
    margin-bottom: 3%;
    height: 17em;
    border: 3px solid black;
    float:left;
    width: 17%;
    padding: 4% 1%;
    border-radius: 15px;
    background-color: white;
    position:relative;
    /*??Try
    display: flex;
    flex-wrap: wrap;
    */
}  

.box img
{
    width: 100%;
    height: auto;
}
a.courses
{
    color:black;
/*    font-weight: bold;*/
    font-size: 16px;
}
a.courses:visited 
{
    color:black;
}            
a.courses:hover
{
    color:seagreen !important;
/*    border-color:crimson;*/
}
div.desc 
{
    padding: 15px;
    text-align: center;
}
/* Popup container - can be anything you want */
.popup 
{
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-radius: 100px;
    padding: 2%;
    color: black;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup:hover
{
    border-color: seagreen !important;
    color: seagreen !important;
}

/* The actual popup */
.popup .popuptext 
{
    visibility:hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 31%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show 
{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.topright 
{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

/*Add animation (fade in the popup)*/
@-webkit-keyframes fadeIn 
{
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn 
{
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*
//For range of particular phone screen sizes; can adjust dimension according to what kind of phone
@media only screen and (min-width: 320px) and (max-width: 480px){ 
    // ruleset for >= 320px 
}

//Or with separate rules:

@media only screen and (max-width: 480px) { 
    // ruleset for >= 480px 
    //Eg: Make box container if page opened on screen size with width less than or equal 480px
        .box{
            width: 17%;
            height: 19%;
        }
}

//For particular resolution screens; (dpi=dots per inch/ dpc=dots per centimeter)
@media only screen and (min-resolution: 150dpi) { 

}

//For multiple rules, use comma to separate within the query
    //In this case, if screen size is >= 480px and screen is in landscape mode
@media only screen and (min-resolution: 150dpi), (orientation: landscape) { 

}

//General tablet breakpoint:
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //Eg: (Does not work for this CSS file)
    //This CSS will make the page title and description float to the left of the gallery images. 
    //Resize the browser to observe these changes at various screen widths.
    .box, .page-description {
        float: left;
        width: 20em; //20em = 20 x default html value for width
    }

    .page-description {
        text-align: left;
    }       
}
*/

