html
{
    /*text-align:center;*/
    background-color:black;
}
body{
    /*??Try
    max-width:1200px;
    margin:auto;*/
}
.box 
{
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 17%;
    border: 5px solid green;
    float:left;
    width: 15%;
    padding: 4% 15px;
    border-radius: 25px;
    background-color: white;
    position:relative;
    /*??Try
    display: flex;
    flex-wrap: wrap;
    */
}  

.box img
{
    width: 100%;
    height: auto;
}
a.courses
{
    color:seagreen;
    font-weight: bold;
}
a.courses:visited 
{
    color:seagreen;
}            
a.courses:hover
{
    color:crimson !important;
    border-color:crimson;
}
div.desc 
{
    padding: 15px;
    text-align: center;
}
/* Popup container - can be anything you want */
.popup 
{
    position: relative;
    display: inline-block;
    border: 2px solid black;
    border-radius: 100px;
    padding: 2%;
    color: black;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext 
{
    visibility:hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after 
{
    content: "";
    position: absolute;
    top: 100%;
    left: 31%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show 
{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.topright 
{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

/*Add animation (fade in the popup)*/
@-webkit-keyframes fadeIn 
{
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn 
{
    from {opacity: 0;}
    to {opacity:1 ;}
}

div.user
{
    color: white;
    font-size: 250%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: white;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: white;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: whitesmoke;
    border-width: 2px;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: whitesmoke;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: whitesmoke;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: white;
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: white;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: white;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: white;
    border-width: 2px;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: white;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: white;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: white;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-bookings {
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    background-color: cadetblue;
    border-color: white;
}

.btn-bookings:focus,
.btn-bookings.focus {
    color: #fff;
    background-color: cadetblue;
    border-color: white;
}

.btn-bookings:hover {
    color: #fff;
    background-color: darkcyan;
    border-color: white;
    border-width: 2px;
}

.btn-bookings:active,
.btn-bookings.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: cadetblue;
    border-color: white;
}

.btn-bookings:active:hover,
.btn-bookings.active:hover,
.open > .dropdown-toggle.btn-bookings:hover,
.btn-bookings:active:focus,
.btn-bookings.active:focus,
.open > .dropdown-toggle.btn-bookings:focus,
.btn-bookings:active.focus,
.btn-bookings.active.focus,
.open > .dropdown-toggle.btn-bookings.focus {
    color: #fff;
    background-color: cadetblue;
    border-color: white;
}

.btn-bookings:active,
.btn-bookings.active,
.open > .dropdown-toggle.btn-bookings {
    background-image: none;
}

.btn-bookings.disabled:hover,
.btn-bookings[disabled]:hover,
fieldset[disabled] .btn-bookings:hover,
.btn-bookings.disabled:focus,
.btn-bookings[disabled]:focus,
fieldset[disabled] .btn-bookings:focus,
.btn-bookings.disabled.focus,
.btn-bookings[disabled].focus,
fieldset[disabled] .btn-bookings.focus {
    background-color: lightgray;
    border-color: white;
}

 .btn-bookings .badge {
    color: #f0ad4e;
    background-color: #fff;
}

/*
//For range of particular phone screen sizes; can adjust dimension according to what kind of phone
@media only screen and (min-width: 320px) and (max-width: 480px){ 
    // ruleset for >= 320px 
}

//Or with separate rules:

@media only screen and (max-width: 480px) { 
    // ruleset for >= 480px 
    //Eg: Make box container if page opened on screen size with width less than or equal 480px
        .box{
            width: 17%;
            height: 19%;
        }
}

//For particular resolution screens; (dpi=dots per inch/ dpc=dots per centimeter)
@media only screen and (min-resolution: 150dpi) { 

}

//For multiple rules, use comma to separate within the query
    //In this case, if screen size is >= 480px and screen is in landscape mode
@media only screen and (min-resolution: 150dpi), (orientation: landscape) { 

}

//General tablet breakpoint:
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //Eg: (Does not work for this CSS file)
    //This CSS will make the page title and description float to the left of the gallery images. 
    //Resize the browser to observe these changes at various screen widths.
    .box, .page-description {
        float: left;
        width: 20em; //20em = 20 x default html value for width
    }

    .page-description {
        text-align: left;
    }       
}
*/

