html
{
    /*text-align:center;*/
    background-color:none important;
}

/* !important Overrides any a tag styling on other pages where this page is included*/
a.header
{
    text-decoration:none !important;
}

a.header:visited
{
    color:black !important; 
    text-decoration:none !important;
}

#header
{
    /*font-family:Georgia;*/
    color:black;
/*    background-color:transparent !important;*/
    background-color: rgba(255,255,255,0.6);
    /*background-color:seagreen;*/
    /*top:0;//To make header stick to top*/
/*    position: -webkit-sticky;  In case run on Safari 
    position:sticky;*/
    /*border: white 2px;*/
    /*border-radius: 10px;*/
    /*height:200px;*/
    /*padding:2% 0 0;*/
    padding: 1% 0 0 0;
}

.img1
{
    height:200px;
}

.titleHead
{
    font-size:500%;
    /*text-decoration: underline;*/
    text-decoration-color: black; 
    font-family: 'Adamina';
}

.titleSub
{
    font-size:200%; 
    /*font-family: 'sans-serif';*/
}

